* {
  box-sizing: border-box;
  margin: 0;
}

legend {
  padding: 16px 32px;
  background-color: darkgoldenrod;
  border: 2px rgb(145, 104, 17) solid;
  color: white;
  font-weight: bold;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  max-width: 600px;
  width: 80%;
  background-color: rgb(226, 171, 33);
  margin: 2rem auto;
  padding: 20px;
}

.checkbox {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 300px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.flex>* {
  flex: 1 1 100%;
}

.form-group {
  margin-bottom: 1em;
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid rgb(145, 104, 17);
}

.main-btn {
  padding: 10px;
  font-size: 16px;
  background-color: rgb(236, 233, 45);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.main-btn:hover {
  background-color: rgb(206, 203, 25);
}